*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding:10px 25px;
    background-color: black;
}
.img_icon{
    width: 40px;
}
.img_logo{
    width: 200px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.botao_onebit{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.botao_onebit:hover{ 
    border-color: red;
}
